<%- include('includes/head.ejs') %> <!-- here we use layout using partials -->
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Page Not Found!</h1>

<%- include('includes/end.ejs') %>  